@use '../mixins/animations.module.scss' as *;
@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;
@use '../variables/theme.module.scss' as *;

.newsletter-column {
	@include defaultFadeIn;

	&--left {
		@include centeredColumn;

		img {
			max-width: 360px;
			width: 100%;
			height: auto;
			padding: 0 2rem;
		}

		.google-image {
			margin: 1.5rem 2rem 0 2rem;
			padding: 0;
			max-width: 180px;
			border: 2px solid white;
			border-radius: 1rem;
		}
	}

	&--right {
		padding: 2rem 2rem 4rem 2rem;
		text-align: center;

		@include sm {
			text-align: left;
			padding: 0 1rem 0 0;
		}

		@include md {
			padding: 0 2rem 0 0;
		}

		.newsletter-subtitle {
			text-transform: uppercase;
			color: #808080;
		}

		.newsletter-title {
			color: $important-color;
			padding: 1rem 0;
			font-size: 2.5rem;

			@include sm {
				font-size: 3rem;
			}

			@include md {
				font-size: 4rem;
			}

			@include lg {
				font-size: 5rem;
			}
		}

		.newsletter-body {
			font-weight: bold;
			margin-bottom: 1rem;
		}

		.newsletter-subscribe-label {
			text-align: left;
		}

		.newsletter-form {
			display: flex;

			.newsletter-email-input {
				width: 100%;
				margin-right: 0.5rem;
			}

			.button--subscribe {
				background-color: $important-color !important;
				color: $primary-color !important;
				height: 40px;
				margin-left: auto;
				margin-top: 16px;
				width: max-content;
				white-space: nowrap;
				padding: 1rem 2rem !important;
				text-transform: uppercase;
				border-radius: 6px;

				&:disabled {
					background-color: $primary-color-light;
					color: $secondary-color;
				}
			}

			.newsletter-email-input .MuiOutlinedInput-root,
			.newsletter-email-input .MuiOutlinedInput-notchedOutline,
			.newsletter-email-input label {
				padding-right: 0 !important;
				border-color: white !important;
				color: white !important;
			}

			.newsletter-email-input .MuiInputBase-input {
				background-color: $primary-color-light !important;
			}

			.newsletter-email-input .MuiOutlinedInput-notchedOutline {
				border-radius: 6px !important;
			}

			.newsletter-email-input .Mui-error {
				color: #d32f2f !important;
			}
		}
	}
}

.newsletter-details-dialog {
	padding: 1rem;
	background-color: rgba(24, 26, 32, 0.9);

	@include xs {
		max-width: unset;
		position: absolute !important;
		width: 100% !important;
		bottom: 0 !important;
		margin: 2rem 0 0 0 !important;
		border: none !important;
	}

	@include sm {
		padding: 1.5rem;
	}

	.newsletter-checkbox-label {
		@include flexRow;
		align-items: center;
		user-select: none;

		&:hover {
			cursor: pointer;
			filter: brightness(0.85);
		}
	}

	.newsletter-checkbox-label:not(:last-child) {
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		border-bottom: 2px solid $primary-color-light;
	}
}

.button--request-access {
	background-color: $important-color;
	color: $primary-color;
	height: 40px;
	white-space: nowrap;
	padding: 1rem 2rem !important;
	text-transform: uppercase;
	border-radius: 6px;

	&:disabled {
		background-color: $primary-color-light;
		color: $secondary-color;
	}

	&:hover {
		filter: brightness(0.85) !important;
		background-color: $important-color !important;
	}

	&:active {
		background-color: $important-color !important;
	}
}

.newsletter-loading {
	padding: 0.6rem;

	svg {
		color: $primary-color !important;
	}
}
