@use '../variables/theme.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.links {
	min-height: 100vh;
	background-color: $primary-color-light;

	.box-padding {
		padding: 18px;
		@include md {
			padding: 32px;
		}
	}

	&--mobile-box {
		@extend .box-padding;
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		border-radius: 8px;
		min-height: 111px;
		text-decoration: none;
		background-color: $primary-color;
		margin-bottom: 8px;
		@include md {
			min-height: 194px;
			border-radius: 16px;
		}
	}

	&--web-box-title {
		display: flex;
		align-items: center;
		gap: 16px;
		margin-bottom: 12px;
		text-decoration: none;
	}

	&--web-box {
		@extend .box-padding;
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		position: relative;
		border-radius: 8px;
		min-height: 111px;
		text-decoration: none;
		background-color: $primary-color;
		@include md {
			align-items: normal;
			flex-direction: row;
			border-radius: 16px;
			min-height: 264px;
		}
	}

	.tensor-box {
		@extend .box-padding;
		display: flex;
		align-items: center;
		position: relative;
		overflow-x: hidden;
		background: $primary-color;
		border-radius: 16px;
		min-height: 111px;
		@include md {
			align-items: start;
			min-height: 194px;
		}

		&:hover {
			cursor: pointer;
		}
	}

	.tensor-gradient {
		z-index: 1;
		position: absolute;
		height: 100%;
		width: 100%;
		bottom: 0;
		background: linear-gradient(270deg, rgba(21, 23, 28, 0) 0.28%, $primary-color 66.99%);
	}

	.tensor-bg-image {
		position: absolute;
		object-fit: cover;
		margin-left: 80px;
		@include md {
			margin-left: 128px;
		}
	}

	.hero {
		position: absolute;
		right: 24px;
		bottom: 0;
		height: auto;
		width: auto;
		user-select: none;

		@media (max-width: 310px) {
			right: 2px;
		}

		@media (min-width: 580px) and (max-width: 660px) {
			right: 2px;
		}

		&--darkbun {
			max-width: 108px;
			@include md {
				max-width: 191px;
			}
		}

		&--hellbun {
			max-width: 140px;

			@include sm {
				right: 8px;
			}

			@include md {
				max-width: 254px;
			}

			@media (min-width: 580px) and (max-width: 640px) {
				max-width: 112px;
			}

			@media (min-width: 900px) and (max-width: 930px) {
				right: -8px;
			}

			@include lg {
				right: 8px;
				max-width: 262px;
			}
		}
	}

	.description-text {
		color: #ffffff;
		font-size: 14px;
		font-weight: 400;
		line-height: 18.2px;
		padding-inline: 16px;
		text-align: center;
		@include sm {
			line-height: 23.4px;
			font-size: 18px;
			max-width: 270px;
			padding-inline: 0;
			text-align: start;
		}
	}
}
