@use '../mixins/common.module.scss' as *;
@use '../variables/theme.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;
@use '../mixins/animations.module.scss' as *;

.footer {
	@include flexColumn;
	margin-top: auto;
	background-color: $important-color;
	color: $primary-color;

	opacity: 0;
	&.visible {
		transition: opacity 4s;
		opacity: 1;
	}

	.footer-content {
		margin: 2rem;
		border-top: 3px solid black;

		@include sm {
			margin: 2rem 3rem;
		}

		@include md {
			margin: 2rem 4rem;
		}
	}

	.footer-title {
		font-weight: bold;

		margin: 2rem 0;

		@include md {
			margin: 3rem 0;
		}

		&--positioned {
			display: none;
			@include md {
				display: block;
			}
		}
	}

	.footer-navigation {
		@include flexRow;
		justify-content: space-between;

		.footer-icons {
			@include flexRow;

			& > * {
				margin-right: 0.2rem;

				@include sm {
					margin-right: 0.5rem;
				}

				@include md {
					margin-right: 1rem;
				}
			}

			a {
				@include clickable;
				min-width: 40px !important;
				height: 40px !important;

				@include sm {
					min-width: 48px !important;
					height: 48px !important;
				}
			}

			svg {
				color: $primary-color;
				width: 24px;
				height: 24px;

				@include sm {
					margin-right: 0.2rem;
				}

				@include md {
					margin-right: 0.4rem;
				}
			}

			span {
				display: none;

				@include sm {
					display: block;
				}
			}
		}

		.copyright {
			@include centeredRow;
			margin-left: auto;
			white-space: nowrap;
		}

		.logo {
			height: 16px;
			width: auto;
			margin-right: 0.2rem;
			margin-bottom: -2px;
		}
	}
}
