@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;
@use '../mixins/animations.module.scss' as *;
@use '../variables/theme.module.scss' as *;

.navigation {
	@include defaultFadeIn;

	padding: 2rem;

	@include sm {
		padding: 3rem;
	}

	@include md {
		padding: 4rem;
	}

	a,
	button {
		@include clickable;
		width: auto;
		height: 36px;

		@include md {
			height: 40px;
		}

		@include lg {
			height: 44px;
		}

		svg {
			height: 100%;
			width: auto;
		}

		.logo {
			padding: 2px;
		}
	}

	.navigation-items {
		margin-left: auto;
	}

	.navigation-items {
		> a:not(:last-child),
		> button:not(:last-child) {
			margin-right: 0.5rem;
		}
	}
}
