@use '../variables/theme.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.wallet-button,
.navigation .wallet-button {
	border-radius: 6px;
	text-transform: uppercase;
	color: $primary-color !important;
	background-color: $important-color !important;
	white-space: nowrap;
	min-width: unset !important;
	padding: 4px !important;

	.MuiButton-startIcon {
		display: none !important;
	}

	.text {
		display: none;

		@include sm {
			display: block;
			margin-left: 0.5rem;
		}
	}

	width: 36px;
	height: 36px;

	@include sm {
		width: 180px;
	}

	@include md {
		height: 40px;
	}

	@include lg {
		height: 44px;
	}
}

#wallet-menu {
	.MuiList-root .MuiMenuItem-root {
		height: 40px;
		min-height: unset;
		min-width: 180px;
	}

	.MuiList-root .MuiMenuItem-root .wallet-button {
		background: none;
		border: none;
		box-shadow: none;
		margin: 0;
		width: 100%;
		height: 40px;
		padding: 0;
	}
}

.wallet-dialog .MuiDialogContent-root,
#wallet-menu .MuiCollapse-root {
	background-color: $primary-color-light !important;
}
